In [12]:
#import libraries
import os 
import pandas as pd # pacote para manipular os dados
import numpy as np # pacote para numeros 
import matplotlib.pyplot as plt # pacote para visualização dos dados
import seaborn as sns  # pacote para visualização dos dados

In [13]:
#importando a base 
df = pd.read_csv('../DATABASE/base_estudos.csv')

In [14]:
df.head()

,id_produto,id_contrato,id_cliente,data_entrada,valor_fin,qtde_prest,juros_efet,data_entrada.1,data_final,provisao,...,setor,situacao,rating_atual,linha_fin,tipo_a,tipo_b,tipo_c,tipo_d,garantia,valor_garantia
0,10707,30560012,212806,42349,151605.74,63.0,0.246781,42349,44607,0,...,SETOR PRIVADO,ADIMPLENTE,AA,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,245000.0
1,10707,30450012,212849,42367,133864.13,62.0,0.246802,42367,44607,0,...,SETOR PRIVADO,ADIMPLENTE,AA,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,219000.0
2,10707,31260012,212857,42349,156163.26,65.0,0.246774,42349,44669,45392,...,SETOR PRIVADO,ADIMPLENTE,A,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,245000.0
3,10707,31540015,212903,42349,132834.93,67.0,0.246793,42349,44727,397,...,SETOR PRIVADO,ADIMPLENTE,A,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,197000.0
4,10707,30570018,212911,42349,147130.53,63.0,0.246785,42349,44607,41467,...,SETOR PRIVADO,ADIMPLENTE,A,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,268000.0

In [15]:
#data info 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2552 entries, 0 to 2551
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_produto       2552 non-null   int64
 1   id_contrato      2552 non-null   int64
 2   id_cliente       2552 non-null   int64
 3   data_entrada     2552 non-null   int64
 4   valor_fin        2552 non-null   float64
 5   qtde_prest       2551 non-null   float64
 6   juros_efet       2552 non-null   object
 7   data_entrada.1   2552 non-null   int64
 8   data_final       2552 non-null   int64
 9   provisao         2552 non-null   int64
 10  fat              2552 non-null   int64
 11  rating_operacao  2552 non-null   object
 12  rating_cliente   2552 non-null   object
 13  ra               2552 non-null   object
 14  porte            2552 non-null   object
 15  setor            2552 non-null   object
 16  situacao         2552 non-null   object
 17  rating_atual     2552 non-null   object
 18  linha_fin        2552 non-null   object
 19  tipo_a           2552 non-null   object
 20  tipo_b           2552 non-null   object
 21  tipo_c           2552 non-null   object
 22  tipo_d           2552 non-null   object
 23  garantia         2552 non-null   object
 24  valor_garantia   2537 non-null   float64
dtypes: float64(3), int64(8), object(14)
memory usage: 498.6+ KB

In [16]:
# mostra o nome de todas as colunas
df.columns

Index(['id_produto', 'id_contrato', 'id_cliente', 'data_entrada', 'valor_fin',
       'qtde_prest', 'juros_efet', 'data_entrada.1', 'data_final', 'provisao',
       'fat', 'rating_operacao', 'rating_cliente', 'ra', 'porte', 'setor',
       'situacao', 'rating_atual', 'linha_fin', 'tipo_a', 'tipo_b', 'tipo_c',
       'tipo_d', 'garantia', 'valor_garantia'],
      dtype='object')

In [17]:
#drop duplicate rows 
#df_sub_base = df.drop_duplicates(keep='first')

In [18]:
#shape of the data
df.shape

(2552, 25)

In [19]:
#criando variáveis quantitativas
# razão valor financiado/faturamento
df['razao_fin.fat'] = df['valor_fin']/df['fat']

# log do faturamento
df['log_fat'] = np.log(df['fat'])

# prazo 
df['prazo_dias'] = df['data_final'] - df['data_entrada']

In [20]:
#drop uniportant variables 
drop_cols = ['id_produto', 'id_contrato', 'id_cliente', 'data_entrada','data_entrada.1', 'data_final'] 
df_clean = df.drop(drop_cols, axis=1)

In [21]:
## Colunas da tabela
df_clean.columns

Index(['valor_fin', 'qtde_prest', 'juros_efet', 'provisao', 'fat',
       'rating_operacao', 'rating_cliente', 'ra', 'porte', 'setor', 'situacao',
       'rating_atual', 'linha_fin', 'tipo_a', 'tipo_b', 'tipo_c', 'tipo_d',
       'garantia', 'valor_garantia', 'razao_fin.fat', 'log_fat', 'prazo_dias'],
      dtype='object')

In [22]:
## Tabela 
df_clean.head()

,valor_fin,qtde_prest,juros_efet,provisao,fat,rating_operacao,rating_cliente,ra,porte,setor,...,linha_fin,tipo_a,tipo_b,tipo_c,tipo_d,garantia,valor_garantia,razao_fin.fat,log_fat,prazo_dias
0,151605.74,63.0,0.246781,0,7481,AA,B,RA de Santos,PF,SETOR PRIVADO,...,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,245000.0,20.265438,8.920122,2258
1,133864.13,62.0,0.246802,0,6482,AA,B,RA de Santos,PF,SETOR PRIVADO,...,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,219000.0,20.651671,8.776784,2240
2,156163.26,65.0,0.246774,45392,960378,A,B,RA de Santos,PF,SETOR PRIVADO,...,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,245000.0,0.162606,13.775082,2320
3,132834.93,67.0,0.246793,397,1005795,A,A,RA de Santos,PF,SETOR PRIVADO,...,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,197000.0,0.132070,13.821289,2378
4,147130.53,63.0,0.246785,41467,813483,A,A,RA de Santos,PF,SETOR PRIVADO,...,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,268000.0,0.180865,13.609080,2258

ANALISANDO SOMENTE EMPRESAS TOMADORAS DE FINACIAMENTO PARA PI

In [23]:
## Selecionar somente dados tipo.a = PI     e   tipo.c = priv
df_clean_PI = df_clean[df_clean['tipo_a']=='PI']

In [25]:
#separando as variáveis por tipo (quantitativa e categórica)
#variáveis categóricas
quant_var = ['valor_fin','qtde_prest', 'juros_efet', 'provisao','fat', 'valor_garantia','razao_fin.fat', 'log_fat', 'prazo_dias']
df_categ_var = df_clean.drop(quant_var, axis=1)

In [26]:
# variáveis quantitativas
df_quant_var = df_clean_PI.drop(df_categ_var, axis=1)

In [27]:
## colunas variáveis quantitativas 
df_quant_var.columns

Index(['valor_fin', 'qtde_prest', 'juros_efet', 'provisao', 'fat',
       'valor_garantia', 'razao_fin.fat', 'log_fat', 'prazo_dias'],
      dtype='object')

In [31]:
# Variáveis quantitativas 
df_quant_var

,valor_fin,qtde_prest,juros_efet,provisao,fat,valor_garantia,razao_fin.fat,log_fat,prazo_dias
425,2364534.71,104.0,0.672346,0,2698464349,5300000.00,0.000876,21.715949,3591
426,2271028.51,103.0,0.375529,73622,1683595,16930000.00,1.348916,14.336442,3527
427,2071182.01,98.0,0.389435,977033,287227486,3500000.00,0.007211,19.475785,3099
428,877689.62,103.0,0.449677,0,15862376,3400000.00,0.055332,16.579461,3517
429,2466524.78,116.0,0.427918,0,3235522,20450000.00,0.762327,14.989701,3618
...,...,...,...,...,...,...,...,...,...
2544,5412643.81,119.0,0.477397,2727234,35561429,19762000.00,0.152205,17.386772,3617
2545,195587.20,119.0,0.477775,0,33115609,1188569.39,0.005906,17.315515,3626
2546,609932.11,95.0,0.586101,1843935,1,340000.00,609932.110000,0.000000,2884
2547,560763.83,120.0,0.478414,565069,1,354000.00,560763.830000,0.000000,3646
2548,53194.04,120.0,1.242.562,159906,1,105292.20,53194.040000,0.000000,3636

In [66]:
# variáveis categóricas
df_categ_var.columns

Index(['rating_operacao', 'rating_cliente', 'ra', 'porte', 'setor', 'situacao',
       'rating_atual', 'linha_fin', 'tipo_a', 'tipo_b', 'tipo_c', 'tipo_d',
       'garantia'],
      dtype='object')

#ANÁLISE VARIÁVEIS QUANTITATIVAS

In [29]:
## Tentativa de trabalhar com somente duas casas decimais !!!!!!fazer isto!!!
round(df_quant_var,2)

,valor_fin,qtde_prest,juros_efet,provisao,fat,valor_garantia,razao_fin.fat,log_fat,prazo_dias
425,2364534.71,104.0,0.672346,0,2698464349,5300000.00,0.00,21.72,3591
426,2271028.51,103.0,0.375529,73622,1683595,16930000.00,1.35,14.34,3527
427,2071182.01,98.0,0.389435,977033,287227486,3500000.00,0.01,19.48,3099
428,877689.62,103.0,0.449677,0,15862376,3400000.00,0.06,16.58,3517
429,2466524.78,116.0,0.427918,0,3235522,20450000.00,0.76,14.99,3618
...,...,...,...,...,...,...,...,...,...
2544,5412643.81,119.0,0.477397,2727234,35561429,19762000.00,0.15,17.39,3617
2545,195587.20,119.0,0.477775,0,33115609,1188569.39,0.01,17.32,3626
2546,609932.11,95.0,0.586101,1843935,1,340000.00,609932.11,0.00,2884
2547,560763.83,120.0,0.478414,565069,1,354000.00,560763.83,0.00,3646
2548,53194.04,120.0,1.242.562,159906,1,105292.20,53194.04,0.00,3636

In [30]:
#Análise descritiva variáveis quantitativas (sumary)    !!!dúvidas .. como deixar somente 2 casa decimais e pq tem informações com sublinado em azul claro
df_quant_var.describe()

,valor_fin,qtde_prest,provisao,fat,valor_garantia,razao_fin.fat,log_fat,prazo_dias
count,4.960000e+02,495.000000,4.960000e+02,4.960000e+02,4.950000e+02,4.960000e+02,496.000000,496.000000
mean,2.771987e+06,80.771717,7.189209e+06,1.157434e+09,3.585304e+06,2.666642e+05,16.698418,2688.258065
std,3.900304e+06,27.365764,4.941122e+07,1.949048e+09,6.736547e+06,1.505667e+06,6.817540,743.935029
min,3.801144e+04,12.000000,0.000000e+00,1.000000e+00,0.000000e+00,4.023410e-05,0.000000,707.000000
25%,4.952875e+05,60.000000,0.000000e+00,7.964000e+06,3.465000e+05,1.320316e-03,15.890442,2136.500000
50%,1.301003e+06,86.000000,1.427915e+05,2.003034e+08,1.156357e+06,5.945245e-03,19.115311,2718.500000
75%,3.151114e+06,96.000000,1.098707e+06,1.511619e+09,4.000000e+06,1.495783e-01,21.136447,3584.000000
max,3.368884e+07,238.000000,8.412081e+08,9.987347e+09,6.983000e+07,2.541300e+07,23.024585,4610.000000

In [32]:
#correlação
df_quant_var.corr()

,valor_fin,qtde_prest,provisao,fat,valor_garantia,razao_fin.fat,log_fat,prazo_dias
valor_fin,1.000000,0.122143,0.183842,0.294611,0.646232,0.272076,0.157798,0.152155
qtde_prest,0.122143,1.000000,0.095691,-0.109426,0.092012,0.098967,-0.127758,0.865259
provisao,0.183842,0.095691,1.000000,-0.017490,0.073408,0.018780,0.001903,0.090797
fat,0.294611,-0.109426,-0.017490,1.000000,0.223549,-0.105387,0.454997,-0.095795
valor_garantia,0.646232,0.092012,0.073408,0.223549,1.000000,0.221737,0.102889,0.148757
razao_fin.fat,0.272076,0.098967,0.018780,-0.105387,0.221737,1.000000,-0.434658,0.129207
log_fat,0.157798,-0.127758,0.001903,0.454997,0.102889,-0.434658,1.000000,-0.149096
prazo_dias,0.152155,0.865259,0.090797,-0.095795,0.148757,0.129207,-0.149096,1.000000

Análise exploratória Variáveis categóricas

In [33]:
## Contando variáveis categóricas - Situação 
df_clean_PI['situacao'].value_counts()

ADIMPLENTE      490
INADIMPLENTE      6
Name: situacao, dtype: int64

In [78]:
#######  
import seaborn as sns
sns.set(style='darkgrid')
situacao = df['situacao'].unique()
cont = df['situacao'].value_counts()
sns.barplot(x=situacao,y=cont,hue=situacao)

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [34]:
## Contando variáveis categóricas - garantia 
df_clean_PI['garantia'].value_counts()

Cessão Dir. Credit - Trib e Receitas        115
Alienação Fiduciária Imóvel                 114
Alienação Fiduciária Imóvel Residencial      62
FDA                                          33
Alienação Fiduciária - Bens Móveis           28
SUS - Direito de crédito                     21
Cessão Fiduciária - Direitos creditórios     21
Gar Fidejussória Fiança Bancária             18
Hipoteca 1º Grau                             16
FGO                                          13
CDB - Certificado de Depósito Bancário       11
FGI - Crédito Livre                          10
Hipoteca - Outros Graus                       8
Alienação Fiduciária Imóveis - Evolutiva      7
Hipoteca 1º grau Imov Residencial             6
Alienação Fiduciaria Veículos                 5
FGI                                           3
FAMPE                                         3
Alien Fiduc - RDME                            1
Interveniente                                 1
Name: garantia, dtype: int64

In [35]:
## Contando variáveis categóricas - rating cliente
df_clean_PI['rating_cliente'].value_counts()

B     208
D      83
A      68
C      67
E      50
AA     17
H       3
Name: rating_cliente, dtype: int64

In [36]:
## Contando variáveis categóricas - rating operação
df_clean_PI['rating_operacao'].value_counts()

AA    160
A     152
C      92
B      71
D      12
H       6
F       2
G       1
Name: rating_operacao, dtype: int64

In [37]:
## Contando variáveis categóricas - rating atual
df_clean_PI['rating_atual'].value_counts()

AA    184
A     145
B      72
C      43
D      20
E      17
H       7
F       6
G       2
Name: rating_atual, dtype: int64

In [38]:
## Contando variáveis categóricas - porte
df_clean_PI['porte'].value_counts()

MÉDIA           175
PEQUENA         122
MICRO            96
MÉDIA-GRANDE     52
GRANDE           51
Name: porte, dtype: int64

In [39]:
## Contando variáveis categóricas - setor
df_clean_PI['setor'].value_counts()

SETOR PRIVADO    381
SETOR PÚBLICO    115
Name: setor, dtype: int64

In [40]:
## Contando variáveis categóricas - RA
df_clean_PI['ra'].value_counts()

Região Metropolitana de São Paulo    158
RA de Campinas                       104
RA de Sorocaba                        40
RA de São José dos Campos             36
RA de Ribeirão Preto                  32
RA de São José do Rio Preto           18
RA Central                            18
RA de Marília                         16
RA de Bauru                           15
RA de Araçatuba                       14
OUTRAS                                13
RA de Barretos                        13
RA de Santos                           8
RA de Presidente Prudente              6
RA de Franca                           3
RA de Registro                         2
Name: ra, dtype: int64

In [41]:
## Contando variáveis categóricas - linha_fin
df_clean_PI['linha_fin'].value_counts()

INOVACRED                  115
FIP                         92
LEV                         66
VIA SP                      56
AUTOMÁTICO INVESTIMENTO     44
LDI                         22
BNDES SAÚDE                 21
LIE - PRIVADO               15
LIT                         15
LVM                         10
MPME INOVADORA               6
BNDES PMAT                   6
FUNGETUR                     5
LAM                          5
LIE - PÚBLICO                4
LAL                          4
LIP                          4
LIM                          3
LDA                          1
INOVACRED EXPRESSO           1
LVR                          1
Name: linha_fin, dtype: int64

In [42]:
## Contando variáveis categóricas - tipo_a
df_clean_PI['tipo_a'].value_counts()

PI    496
Name: tipo_a, dtype: int64

In [43]:
## Contando variáveis categóricas - tipo_b
df_clean_PI['tipo_b'].value_counts()

RP    298
RT    198
Name: tipo_b, dtype: int64

In [44]:
## Contando variáveis categóricas - tipo_c
df_clean_PI['tipo_c'].value_counts()

PRIV    381
PÚBL    115
Name: tipo_c, dtype: int64

In [45]:
## Contando variáveis categóricas - tipo_d
df_clean_PI['tipo_d'].value_counts()

REC. PRÓPRIOS    298
FINEP            116
BNDES             77
FUNGETUR           5
Name: tipo_d, dtype: int64

RELAÇÃO ENTRE SUTAÇÃO E CATEGÓRICAS

In [46]:
## Situação x garantia    !!!!!! inserir o % de adimplentes e inadimplentes em relação ao total por categoria  
display(df_clean_PI.groupby(['situacao','garantia']).size())

situacao      garantia
ADIMPLENTE    Alien Fiduc - RDME                            1
              Alienação Fiduciaria Veículos                 4
              Alienação Fiduciária - Bens Móveis           26
              Alienação Fiduciária Imóveis - Evolutiva      7
              Alienação Fiduciária Imóvel                 113
              Alienação Fiduciária Imóvel Residencial      62
              CDB - Certificado de Depósito Bancário       11
              Cessão Dir. Credit - Trib e Receitas        115
              Cessão Fiduciária - Direitos creditórios     21
              FAMPE                                         3
              FDA                                          32
              FGI                                           3
              FGI - Crédito Livre                          10
              FGO                                          13
              Gar Fidejussória Fiança Bancária             18
              Hipoteca - Outros Graus                       8
              Hipoteca 1º Grau                             16
              Hipoteca 1º grau Imov Residencial             6
              Interveniente                                 1
              SUS - Direito de crédito                     20
INADIMPLENTE  Alienação Fiduciaria Veículos                 1
              Alienação Fiduciária - Bens Móveis            2
              Alienação Fiduciária Imóvel                   1
              FDA                                           1
              SUS - Direito de crédito                      1
dtype: int64

In [47]:
## Situação x  rating cliente 
display(df_clean_PI.groupby(['situacao','rating_cliente']).size())

situacao      rating_cliente
ADIMPLENTE    A                  67
              AA                 17
              B                 208
              C                  66
              D                  81
              E                  48
              H                   3
INADIMPLENTE  A                   1
              C                   1
              D                   2
              E                   2
dtype: int64

In [48]:
## Situação x  rating_operacao
display(df_clean_PI.groupby(['situacao', 'rating_operacao']).size())

situacao      rating_operacao
ADIMPLENTE    A                  151
              AA                 158
              B                   70
              C                   90
              D                   12
              F                    2
              G                    1
              H                    6
INADIMPLENTE  A                    1
              AA                   2
              B                    1
              C                    2
dtype: int64

In [53]:
## Situação x  ra
display(df_clean_PI.groupby(['situacao', 'ra']).size())

situacao      ra
ADIMPLENTE    OUTRAS                                12
              RA Central                            18
              RA de Araçatuba                       14
              RA de Barretos                        13
              RA de Bauru                           14
              RA de Campinas                       104
              RA de Franca                           2
              RA de Marília                         15
              RA de Presidente Prudente              6
              RA de Registro                         2
              RA de Ribeirão Preto                  32
              RA de Santos                           8
              RA de Sorocaba                        40
              RA de São José do Rio Preto           18
              RA de São José dos Campos             34
              Região Metropolitana de São Paulo    158
INADIMPLENTE  OUTRAS                                 1
              RA de Bauru                            1
              RA de Franca                           1
              RA de Marília                          1
              RA de São José dos Campos              2
dtype: int64

In [57]:
## Situação x 'porte'
display(df_clean_PI.groupby(['situacao','porte']).size())

situacao      porte
ADIMPLENTE    GRANDE           51
              MICRO            93
              MÉDIA           174
              MÉDIA-GRANDE     52
              PEQUENA         120
INADIMPLENTE  MICRO             3
              MÉDIA             1
              PEQUENA           2
dtype: int64

In [58]:
## Situação x 'setor'
display(df_clean_PI.groupby(['situacao', 'setor']).size())

situacao      setor
ADIMPLENTE    SETOR PRIVADO    375
              SETOR PÚBLICO    115
INADIMPLENTE  SETOR PRIVADO      6
dtype: int64

In [59]:
## Situação x  'rating_atual'
display(df_clean_PI.groupby(['situacao','rating_atual']).size())

situacao      rating_atual
ADIMPLENTE    A               145
              AA              184
              B                72
              C                43
              D                19
              E                16
              F                 5
              G                 2
              H                 4
INADIMPLENTE  D                 1
              E                 1
              F                 1
              H                 3
dtype: int64

In [60]:
## Situação x  'linha_fin'
display(df_clean_PI.groupby(['situacao', 'linha_fin']).size())

situacao      linha_fin
ADIMPLENTE    AUTOMÁTICO INVESTIMENTO     42
              BNDES PMAT                   6
              BNDES SAÚDE                 20
              FIP                         90
              FUNGETUR                     5
              INOVACRED                  114
              INOVACRED EXPRESSO           1
              LAL                          4
              LAM                          5
              LDA                          1
              LDI                         22
              LEV                         66
              LIE - PRIVADO               15
              LIE - PÚBLICO                4
              LIM                          3
              LIP                          4
              LIT                         15
              LVM                         10
              LVR                          1
              MPME INOVADORA               6
              VIA SP                      56
INADIMPLENTE  AUTOMÁTICO INVESTIMENTO      2
              BNDES SAÚDE                  1
              FIP                          2
              INOVACRED                    1
dtype: int64

In [61]:
## Situação x 'tipo_a'
display(df_clean_PI.groupby(['situacao','tipo_a']).size())

situacao      tipo_a
ADIMPLENTE    PI        490
INADIMPLENTE  PI          6
dtype: int64

In [63]:
## Situação x 'tipo_b'
display(df_clean_PI.groupby(['situacao','tipo_b']).size())

situacao      tipo_b
ADIMPLENTE    RP        296
              RT        194
INADIMPLENTE  RP          2
              RT          4
dtype: int64

In [64]:
## Situação x 'tipo_c' 
display(df_clean_PI.groupby(['situacao','tipo_c']).size())

situacao      tipo_c
ADIMPLENTE    PRIV      375
              PÚBL      115
INADIMPLENTE  PRIV        6
dtype: int64

In [65]:
## Situação x  'tipo_d'
display(df_clean_PI.groupby(['situacao','tipo_d']).size())

situacao      tipo_d
ADIMPLENTE    BNDES             74
              FINEP            115
              FUNGETUR           5
              REC. PRÓPRIOS    296
INADIMPLENTE  BNDES              3
              FINEP              1
              REC. PRÓPRIOS      2
dtype: int64

BOX PLOT

In [ ]:
sns.boxplot(x = 'situacao',
            y = )