In [74]:
#import libraries
import os 
import pandas as pd # pacote para manipular os dados
import numpy as np # pacote para numeros 
import matplotlib.pyplot as plt # pacote para visualização dos dados
import seaborn as sns  # pacote para visualização dos dados

In [75]:
#importando a base 
df = pd.read_csv('../DATABASE/base_estudos.csv')

In [76]:
df.head()

,id_produto,id_contrato,id_cliente,data_entrada,valor_fin,qtde_prest,juros_efet,data_entrada.1,data_final,provisao,...,setor,situacao,rating_atual,linha_fin,tipo_a,tipo_b,tipo_c,tipo_d,garantia,valor_garantia
0,10707,30560012,212806,42349,151605.74,63.0,0.246781,42349,44607,0,...,SETOR PRIVADO,ADIMPLENTE,AA,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,245000.0
1,10707,30450012,212849,42367,133864.13,62.0,0.246802,42367,44607,0,...,SETOR PRIVADO,ADIMPLENTE,AA,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,219000.0
2,10707,31260012,212857,42349,156163.26,65.0,0.246774,42349,44669,45392,...,SETOR PRIVADO,ADIMPLENTE,A,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,245000.0
3,10707,31540015,212903,42349,132834.93,67.0,0.246793,42349,44727,397,...,SETOR PRIVADO,ADIMPLENTE,A,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,197000.0
4,10707,30570018,212911,42349,147130.53,63.0,0.246785,42349,44607,41467,...,SETOR PRIVADO,ADIMPLENTE,A,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,268000.0

In [77]:
#data info 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2552 entries, 0 to 2551
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_produto       2552 non-null   int64
 1   id_contrato      2552 non-null   int64
 2   id_cliente       2552 non-null   int64
 3   data_entrada     2552 non-null   int64
 4   valor_fin        2552 non-null   float64
 5   qtde_prest       2551 non-null   float64
 6   juros_efet       2552 non-null   object
 7   data_entrada.1   2552 non-null   int64
 8   data_final       2552 non-null   int64
 9   provisao         2552 non-null   int64
 10  fat              2552 non-null   int64
 11  rating_operacao  2552 non-null   object
 12  rating_cliente   2552 non-null   object
 13  ra               2552 non-null   object
 14  porte            2552 non-null   object
 15  setor            2552 non-null   object
 16  situacao         2552 non-null   object
 17  rating_atual     2552 non-null   object
 18  linha_fin        2552 non-null   object
 19  tipo_a           2552 non-null   object
 20  tipo_b           2552 non-null   object
 21  tipo_c           2552 non-null   object
 22  tipo_d           2552 non-null   object
 23  garantia         2552 non-null   object
 24  valor_garantia   2537 non-null   float64
dtypes: float64(3), int64(8), object(14)
memory usage: 498.6+ KB

In [26]:
# mostra o nome de todas as colunas
df.columns

Index(['id_produto', 'id_contrato', 'id_cliente', 'data_entrada', 'valor_fin',
       'qtde_prest', 'juros_efet', 'data_entrada.1', 'data_final', 'provisao',
       'fat', 'rating_operacao', 'rating_cliente', 'ra', 'porte', 'setor',
       'situacao', 'rating_atual', 'linha_fin', 'tipo_a', 'tipo_b', 'tipo_c',
       'tipo_d', 'garantia', 'valor_garantia'],
      dtype='object')

In [27]:
#drop duplicate rows 
#df_sub_base = df.drop_duplicates(keep='first')

In [28]:
#shape of the data
df.shape

(2552, 25)

In [29]:
#criando variáveis quantitativas
# razão valor financiado/faturamento
df['razao_fin.fat'] = df['valor_fin']/df['fat']

# log do faturamento
df['log_fat'] = np.log(df['fat'])

# prazo 
df['prazo_dias'] = df['data_final'] - df['data_entrada']

In [30]:
#drop uniportant variables 
drop_cols = ['id_produto', 'id_contrato', 'id_cliente', 'data_entrada','data_entrada.1', 'data_final'] 
df_clean = df.drop(drop_cols, axis=1)

In [43]:
## Colunas da tabela
df_clean.columns

Index(['valor_fin', 'qtde_prest', 'juros_efet', 'provisao', 'fat',
       'rating_operacao', 'rating_cliente', 'ra', 'porte', 'setor', 'situacao',
       'rating_atual', 'linha_fin', 'tipo_a', 'tipo_b', 'tipo_c', 'tipo_d',
       'garantia', 'valor_garantia', 'razao_fin.fat', 'log_fat', 'prazo_dias'],
      dtype='object')

In [44]:
## Tabela 
df_clean.head()

,valor_fin,qtde_prest,juros_efet,provisao,fat,rating_operacao,rating_cliente,ra,porte,setor,...,linha_fin,tipo_a,tipo_b,tipo_c,tipo_d,garantia,valor_garantia,razao_fin.fat,log_fat,prazo_dias
0,151605.74,63.0,0.246781,0,7481,AA,B,RA de Santos,PF,SETOR PRIVADO,...,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,245000.0,20.265438,8.920122,2258
1,133864.13,62.0,0.246802,0,6482,AA,B,RA de Santos,PF,SETOR PRIVADO,...,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,219000.0,20.651671,8.776784,2240
2,156163.26,65.0,0.246774,45392,960378,A,B,RA de Santos,PF,SETOR PRIVADO,...,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,245000.0,0.162606,13.775082,2320
3,132834.93,67.0,0.246793,397,1005795,A,A,RA de Santos,PF,SETOR PRIVADO,...,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,197000.0,0.132070,13.821289,2378
4,147130.53,63.0,0.246785,41467,813483,A,A,RA de Santos,PF,SETOR PRIVADO,...,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,268000.0,0.180865,13.609080,2258

In [33]:
#separando as variáveis por tipo (quantitativa e categórica)
#variáveis categóricas
quant_var = ['valor_fin','qtde_prest', 'juros_efet', 'provisao','fat', 'valor_garantia','razao_fin.fat', 'log_fat', 'prazo_dias']
df_categ_var = df_clean.drop(quant_var, axis=1)

In [34]:
# variáveis quantitativas
df_quant_var = df_clean.drop(df_categ_var, axis=1)

In [39]:
## colunas variáveis quantitativas 
df_quant_var.columns

Index(['valor_fin', 'qtde_prest', 'juros_efet', 'provisao', 'fat',
       'valor_garantia', 'razao_fin.fat', 'log_fat', 'prazo_dias'],
      dtype='object')

In [40]:
# Variáveis quantitativas 
df_quant_var.head()

,valor_fin,qtde_prest,juros_efet,provisao,fat,valor_garantia,razao_fin.fat,log_fat,prazo_dias
0,151605.74,63.0,0.246781,0,7481,245000.0,20.265438,8.920122,2258
1,133864.13,62.0,0.246802,0,6482,219000.0,20.651671,8.776784,2240
2,156163.26,65.0,0.246774,45392,960378,245000.0,0.162606,13.775082,2320
3,132834.93,67.0,0.246793,397,1005795,197000.0,0.132070,13.821289,2378
4,147130.53,63.0,0.246785,41467,813483,268000.0,0.180865,13.609080,2258

In [41]:
## colunas variáveis categóricas
df_categ_var.columns

Index(['rating_operacao', 'rating_cliente', 'ra', 'porte', 'setor', 'situacao',
       'rating_atual', 'linha_fin', 'tipo_a', 'tipo_b', 'tipo_c', 'tipo_d',
       'garantia'],
      dtype='object')

In [42]:
# Variáveis categóricas
df_categ_var.head()

,rating_operacao,rating_cliente,ra,porte,setor,situacao,rating_atual,linha_fin,tipo_a,tipo_b,tipo_c,tipo_d,garantia
0,AA,B,RA de Santos,PF,SETOR PRIVADO,ADIMPLENTE,AA,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos
1,AA,B,RA de Santos,PF,SETOR PRIVADO,ADIMPLENTE,AA,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos
2,A,B,RA de Santos,PF,SETOR PRIVADO,ADIMPLENTE,A,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos
3,A,A,RA de Santos,PF,SETOR PRIVADO,ADIMPLENTE,A,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos
4,A,A,RA de Santos,PF,SETOR PRIVADO,ADIMPLENTE,A,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos

#ANÁLISE VARIÁVEIS QUANTITATIVAS

In [47]:
## Tentativa de trabalhar com somente duas casas decimais 
round(df_quant_var,2)

,valor_fin,qtde_prest,juros_efet,provisao,fat,valor_garantia,razao_fin.fat,log_fat,prazo_dias
0,151605.74,63.0,0.246781,0,7481,245000.00,20.27,8.92,2258
1,133864.13,62.0,0.246802,0,6482,219000.00,20.65,8.78,2240
2,156163.26,65.0,0.246774,45392,960378,245000.00,0.16,13.78,2320
3,132834.93,67.0,0.246793,397,1005795,197000.00,0.13,13.82,2378
4,147130.53,63.0,0.246785,41467,813483,268000.00,0.18,13.61,2258
...,...,...,...,...,...,...,...,...,...
2547,560763.83,120.0,0.478414,565069,1,354000.00,560763.83,0.00,3646
2548,53194.04,120.0,1.242.562,159906,1,105292.20,53194.04,0.00,3636
2549,4793407.28,60.0,0.414216,0,814103582,37280000.00,0.01,20.52,1833
2550,182281.79,60.0,0.753472,550677,1,191773.14,182281.79,0.00,1812
2551,64000.00,60.0,0.585692,64141,84251117,51200.00,0.00,18.25,1810

In [48]:
#Análise descritiva variáveis quantitativas (sumary)
df_quant_var.describe()

,valor_fin,qtde_prest,provisao,fat,valor_garantia,razao_fin.fat,log_fat,prazo_dias
count,2.552000e+03,2551.000000,2.552000e+03,2.552000e+03,2.537000e+03,2.552000e+03,2552.000000,2552.000000
mean,7.441381e+05,48.000000,2.877312e+06,4.746712e+08,9.501178e+05,6.550484e+04,16.797877,1565.076411
std,2.223146e+06,24.700528,5.131532e+07,1.247498e+09,4.019448e+06,9.254239e+05,4.003320,790.787874
min,8.085800e+02,1.000000,0.000000e+00,1.000000e+00,0.000000e+00,9.376647e-06,0.000000,164.000000
25%,5.461489e+04,34.000000,1.238425e+04,2.668803e+06,4.243968e+04,8.122299e-04,14.797140,1076.000000
50%,1.394400e+05,34.000000,5.444250e+04,4.176877e+07,1.157296e+05,3.342867e-03,17.547654,1090.000000
75%,3.215124e+05,60.000000,1.976340e+05,2.230333e+08,2.800000e+05,5.285864e-02,19.222831,2082.250000
max,3.368884e+07,238.000000,2.304914e+09,9.987347e+09,8.917560e+07,3.219690e+07,23.024585,5819.000000

In [51]:
#correlação
df_quant_var.corr()

,valor_fin,qtde_prest,provisao,fat,valor_garantia,razao_fin.fat,log_fat,prazo_dias
valor_fin,1.000000,0.390673,0.349627,0.320464,0.629334,0.394669,0.103098,0.417715
qtde_prest,0.390673,1.000000,0.098115,0.232737,0.268674,0.136818,-0.088691,0.959610
provisao,0.349627,0.098115,1.000000,0.005036,0.073403,0.622362,-0.069399,0.098096
fat,0.320464,0.232737,0.005036,1.000000,0.240369,-0.026944,0.453669,0.264643
valor_garantia,0.629334,0.268674,0.073403,0.240369,1.000000,0.172477,0.087967,0.286488
razao_fin.fat,0.394669,0.136818,0.622362,-0.026944,0.172477,1.000000,-0.297116,0.147492
log_fat,0.103098,-0.088691,-0.069399,0.453669,0.087967,-0.297116,1.000000,-0.083504
prazo_dias,0.417715,0.959610,0.098096,0.264643,0.286488,0.147492,-0.083504,1.000000

Análise exploratória Variáveis categóricas

In [54]:
## Contando variáveis categóricas - Situação 
df_categ_var['situacao'].value_counts()

ADIMPLENTE      2514
INADIMPLENTE      38
Name: situacao, dtype: int64

In [78]:
#######  
import seaborn as sns
sns.set(style="darkgrid")
situacao = df['situacao'].unique()
cont = df['situacao'].value_counts()
sns.barplot(x=situacao,y=cont,hue=situacao)

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [55]:
## Contando variáveis categóricas - garantia 
df_categ_var['garantia'].value_counts()

FGI                                         1257
FDA                                          401
Cessão Dir. Credit - Trib e Receitas         214
Alienação Fiduciária Imóvel                  134
Alienação Fiduciária - Bens Móveis           100
Alienação Fiduciaria Veículos                 83
Alienação Fiduciária Imóvel Residencial       71
Alien Fiduc - RDME                            63
FAMPE                                         56
SUS - Direito de crédito                      25
Cessão Fiduciária - Direitos creditórios      22
FGI - Crédito Livre                           21
Gar Fidejussória Fiança Bancária              20
Hipoteca 1º Grau                              20
FGO                                           15
Interveniente                                 15
CDB - Certificado de Depósito Bancário        11
Hipoteca - Outros Graus                       10
Alienação Fiduciária Imóveis - Evolutiva       7
Hipoteca 1º grau Imov Residencial              7
Name: garantia, dtype: int64

In [56]:
## Contando variáveis categóricas - rating cliente
df_categ_var['rating_cliente'].value_counts()

B     1070
C      641
A      548
D      134
AA      88
E       61
H       10
Name: rating_cliente, dtype: int64

In [57]:
## Contando variáveis categóricas - rating operação
df_categ_var['rating_operacao'].value_counts()

A     781
B     762
C     643
AA    312
H      30
D      16
F       5
G       3
Name: rating_operacao, dtype: int64

In [58]:
## Contando variáveis categóricas - rating atual
df_categ_var['rating_atual'].value_counts()

B     755
A     728
C     574
AA    336
D      47
H      42
E      36
F      28
G       6
Name: rating_atual, dtype: int64

In [59]:
## Contando variáveis categóricas - porte
df_categ_var['porte'].value_counts()

PEQUENA         1507
MÉDIA            463
MICRO            302
PF               108
MÉDIA-GRANDE     106
GRANDE            66
Name: porte, dtype: int64

In [60]:
## Contando variáveis categóricas - setor
df_categ_var['setor'].value_counts()

SETOR PRIVADO    2340
SETOR PÚBLICO     212
Name: setor, dtype: int64

In [61]:
## Contando variáveis categóricas - RA
df_categ_var['ra'].value_counts()

Região Metropolitana de São Paulo    988
RA de Campinas                       475
RA de Sorocaba                       162
RA de São José do Rio Preto          154
RA de Santos                         135
RA de Ribeirão Preto                  99
RA de São José dos Campos             86
OUTRAS                                80
RA Central                            74
RA de Bauru                           69
RA de Marília                         55
RA de Araçatuba                       54
RA de Presidente Prudente             45
RA de Barretos                        32
RA de Franca                          31
RA de Registro                        13
Name: ra, dtype: int64

In [62]:
## Contando variáveis categóricas - linha_fin
df_categ_var['linha_fin'].value_counts()

CDP                        1239
CDR                         304
FIP                         164
BNDES GIRO                  119
INOVACRED                   115
PRO CAMINHONEIRO             98
LFN                          81
LEV                          80
VIA SP                       71
FINAME                       50
AUTOMÁTICO INVESTIMENTO      44
LDI                          22
BNDES SAÚDE                  21
BNDES PANIFICADORAS          20
LIE - PRIVADO                15
LIT                          15
RENEGOCIAÇÃO                 14
LRF                          10
LVM                          10
FUNGETUR                      9
BNDES PMAT                    6
MPME INOVADORA                6
LEM                           6
LIP                           5
LAM                           5
LAL                           4
LIE - PÚBLICO                 4
LIM                           3
BNDES GIRO SAÚDE              3
PROAVI                        2
LEP                           2
BNDES FUNDO CLIMA             1
LDA                           1
INOVACRED EXPRESSO            1
P&G                           1
LVR                           1
Name: linha_fin, dtype: int64

In [63]:
## Contando variáveis categóricas - tipo_a
df_categ_var['tipo_a'].value_counts()

CG    1689
PI     496
ME     367
Name: tipo_a, dtype: int64

In [64]:
## Contando variáveis categóricas - tipo_b
df_categ_var['tipo_b'].value_counts()

RT    1732
RP     820
Name: tipo_b, dtype: int64

In [65]:
## Contando variáveis categóricas - tipo_c
df_categ_var['tipo_c'].value_counts()

PRIV    2340
PÚBL     212
Name: tipo_c, dtype: int64

In [66]:
## Contando variáveis categóricas - tipo_d
df_categ_var['tipo_d'].value_counts()

BNDES            1607
REC. PRÓPRIOS     820
FINEP             116
FUNGETUR            9
Name: tipo_d, dtype: int64

RELAÇÃO ENTRE SUTAÇÃO E CATEGÓRICAS

In [ ]:
## Situação x garantia 
display(df_categ_var.groupby(['situacao','garantia']).size())

In [ ]:
## Situação x  rating cliente 
display(df_categ_var.groupby(['situacao','rating_cliente']).size())

In [ ]:
## Situação x  rating_operacao
display(df_categ_var.groupby(['situacao', 'rating_operacao']).size())

In [ ]:
## Situação x  ra
display(df_categ_var.groupby(['situacao','ra']).size()

In [ ]:
## Situação x 'porte'
display(df_categ_var.groupby(['situacao','porte]).size())

In [ ]:
## Situação x 'setor'
display(df_categ_var.groupby(['situacao', 'setor']).size())

In [ ]:
## Situação x  'rating_atual'
display(df_categ_var.groupby(['situacao','rating_atual']).size())

In [ ]:
## Situação x  'linha_fin'
display(df_categ_var.groupby(['situacao', 'linha_fin']).size())

In [ ]:
## Situação x 'tipo_a'
display(df_categ_var.groupby(['situacao','tipo_a']).size())

In [ ]:
## Situação x 'tipo_b'
display(df_categ_var.groupby(['situacao','tipo_b']).size()

In [ ]:
## Situação x 'tipo_c' 
display(df_categ_var.groupby(['situacao','tipo_c']).size())

In [ ]:
## Situação x  'tipo_d'
display(df_categ_var.groupby(['situacao','tipo_d']).size())

ANALISANDO SOMENTE EMPRESAS TOMADORAS DE FINACIAMENTO PARA PI

In [82]:
## Selecionar somente dados tipo.a = PI 
df_clean_PI = df_clean[df_clean['tipo_a']=='PI']