In [5]:
-m pip install seaborn

SyntaxError: invalid syntax (<ipython-input-5-c353ddd1c102>, line 1)

In [1]:
# Importing Pandas with pd alias
import pandas as pd

In [2]:
# Read csv files from relative path
df = pd.read_csv('../DATABASE/base_estudos.csv')

In [3]:
# Display first 10 hypotesis from the dataframe
display(df.head(n = 10))
# df.tail()

,id_produto,id_contrato,id_cliente,data_entrada,valor_fin,qtde_prest,juros_efet,data_entrada.1,data_final,provisao,...,setor,situacao,rating_atual,linha_fin,tipo_a,tipo_b,tipo_c,tipo_d,garantia,valor_garantia
0,10707,30560012,212806,42349,151605.74,63.0,0.246781,42349,44607,0,...,SETOR PRIVADO,ADIMPLENTE,AA,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,245000.0
1,10707,30450012,212849,42367,133864.13,62.0,0.246802,42367,44607,0,...,SETOR PRIVADO,ADIMPLENTE,AA,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,219000.0
2,10707,31260012,212857,42349,156163.26,65.0,0.246774,42349,44669,45392,...,SETOR PRIVADO,ADIMPLENTE,A,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,245000.0
3,10707,31540015,212903,42349,132834.93,67.0,0.246793,42349,44727,397,...,SETOR PRIVADO,ADIMPLENTE,A,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,197000.0
4,10707,30570018,212911,42349,147130.53,63.0,0.246785,42349,44607,41467,...,SETOR PRIVADO,ADIMPLENTE,A,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,268000.0
5,10707,30620007,227358,41407,145530.15,92.0,0.332929,41407,44270,11334,...,SETOR PRIVADO,ADIMPLENTE,A,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,196000.0
6,10707,30660009,227480,41408,233478.85,92.0,0.333779,41408,44270,0,...,SETOR PRIVADO,ADIMPLENTE,AA,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,212000.0
7,10707,30590019,227501,42367,148756.86,62.0,0.246785,42367,44607,5006094,...,SETOR PRIVADO,INADIMPLENTE,F,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,245000.0
8,10707,30580013,227625,42367,154770.28,62.0,0.246781,42367,44607,44383,...,SETOR PRIVADO,ADIMPLENTE,A,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,268000.0
9,10707,30780012,231550,42517,141682.32,59.0,0.24681,42517,44669,0,...,SETOR PRIVADO,ADIMPLENTE,AA,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,247000.0

### Ver o formato das variáveis

In [5]:
df.columns

Index(['id_produto', 'id_contrato', 'id_cliente', 'data_entrada', 'valor_fin',
       'qtde_prest', 'juros_efet', 'data_entrada.1', 'data_final', 'provisao',
       'fat', 'rating_operacao', 'rating_cliente', 'ra', 'porte', 'setor',
       'situacao', 'rating_atual', 'linha_fin', 'tipo_a', 'tipo_b', 'tipo_c',
       'tipo_d', 'garantia', 'valor_garantia'],
      dtype='object')

In [6]:
data_series = df['fat']
display(type(data_series))
display(data_series.describe())
display(data_series.info(verbose=True))

pandas.core.series.Series

count    2.552000e+03
mean     4.746712e+08
std      1.247498e+09
min      1.000000e+00
25%      2.668803e+06
50%      4.176877e+07
75%      2.230333e+08
max      9.987347e+09
Name: fat, dtype: float64

AttributeError: 'Series' object has no attribute 'info'

In [9]:
df.describe()

,id_produto,id_contrato,id_cliente,data_entrada,valor_fin,qtde_prest,data_entrada.1,data_final,provisao,fat,valor_garantia
count,2552.000000,2.552000e+03,2.552000e+03,2552.000000,2.552000e+03,2551.000000,2552.000000,2552.000000,2.552000e+03,2.552000e+03,2.537000e+03
mean,24229.802900,5.845925e+07,9.349917e+05,43245.815439,7.441381e+05,48.000000,43245.815439,44810.891850,2.877312e+06,4.746712e+08,9.501178e+05
std,7818.714713,1.307111e+07,7.979411e+05,566.332012,2.223146e+06,24.700528,566.332012,654.513266,5.131532e+07,1.247498e+09,4.019448e+06
min,10707.000000,5.720028e+06,2.480000e+02,41060.000000,8.085800e+02,1.000000,41060.000000,43692.000000,0.000000e+00,1.000000e+00,0.000000e+00
25%,21806.000000,4.992750e+07,3.581102e+05,43000.000000,5.461489e+04,34.000000,43000.000000,44392.000000,1.238425e+04,2.668803e+06,4.243968e+04
50%,23701.000000,5.924000e+07,6.271120e+05,43383.000000,1.394400e+05,34.000000,43383.000000,44767.500000,5.444250e+04,4.176877e+07,1.157296e+05
75%,23710.000000,6.873500e+07,1.305664e+06,43720.000000,3.215124e+05,60.000000,43720.000000,44910.000000,1.976340e+05,2.230333e+08,2.800000e+05
max,61018.000000,8.189000e+07,2.819058e+06,43861.000000,3.368884e+07,238.000000,43861.000000,47912.000000,2.304914e+09,9.987347e+09,8.917560e+07

In [5]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2552 entries, 0 to 2551
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_produto       2552 non-null   int64
 1   id_contrato      2552 non-null   int64
 2   id_cliente       2552 non-null   int64
 3   data_entrada     2552 non-null   int64
 4   valor_fin        2552 non-null   float64
 5   qtde_prest       2551 non-null   float64
 6   juros_efet       2552 non-null   object
 7   data_entrada.1   2552 non-null   int64
 8   data_final       2552 non-null   int64
 9   provisao         2552 non-null   int64
 10  fat              2552 non-null   int64
 11  rating_operacao  2552 non-null   object
 12  rating_cliente   2552 non-null   object
 13  ra               2552 non-null   object
 14  porte            2552 non-null   object
 15  setor            2552 non-null   object
 16  situacao         2552 non-null   object
 17  rating_atual     2552 non-null   object
 18  linha_fin        2552 non-null   object
 19  tipo_a           2552 non-null   object
 20  tipo_b           2552 non-null   object
 21  tipo_c           2552 non-null   object
 22  tipo_d           2552 non-null   object
 23  garantia         2552 non-null   object
 24  valor_garantia   2537 non-null   float64
dtypes: float64(3), int64(8), object(14)
memory usage: 498.6+ KB

In [10]:
data_series.dtype

dtype('int64')

In [11]:
df.columns

Index(['id_produto', 'id_contrato', 'id_cliente', 'data_entrada', 'valor_fin',
       'qtde_prest', 'juros_efet', 'data_entrada.1', 'data_final', 'provisao',
       'fat', 'rating_operacao', 'rating_cliente', 'ra', 'porte', 'setor',
       'situacao', 'rating_atual', 'linha_fin', 'tipo_a', 'tipo_b', 'tipo_c',
       'tipo_d', 'garantia', 'valor_garantia'],
      dtype='object')

In [16]:
porte = df['porte']
display(porte)

0            PF
1            PF
2            PF
3            PF
4            PF
         ...
2547      MICRO
2548      MICRO
2549      MÉDIA
2550      MICRO
2551    PEQUENA
Name: porte, Length: 2552, dtype: object

In [15]:
ra = df['ra']
display(ra)

0                            RA de Santos
1                            RA de Santos
2                            RA de Santos
3                            RA de Santos
4                            RA de Santos
                      ...
2547    Região Metropolitana de São Paulo
2548                       RA de Campinas
2549                       RA de Campinas
2550    Região Metropolitana de São Paulo
2551            RA de Presidente Prudente
Name: ra, Length: 2552, dtype: object

---
### Criar variáveis novas, calculadas a partir de outras variáveis

#### Calculando a coluna razão faturamento

In [17]:
df['razao_faturamento'] = df['valor_fin']/df['fat']

In [20]:
#display(df.head(n=2))
display(df['razao_faturamento'])

0           20.265438
1           20.651671
2            0.162606
3            0.132070
4            0.180865
            ...
2547    560763.830000
2548     53194.040000
2549         0.005888
2550    182281.790000
2551         0.000760
Name: razao_faturamento, Length: 2552, dtype: float64

In [37]:
nanvalues = list(df['razao_faturamento'].isna())

In [41]:
df.isna().sum()

id_produto            0
id_contrato           0
id_cliente            0
data_entrada          0
valor_fin             0
qtde_prest            1
juros_efet            0
data_entrada.1        0
data_final            0
provisao              0
fat                   0
rating_operacao       0
rating_cliente        0
ra                    0
porte                 0
setor                 0
situacao              0
rating_atual          0
linha_fin             0
tipo_a                0
tipo_b                0
tipo_c                0
tipo_d                0
garantia              0
valor_garantia       15
razao_faturamento     0
dtype: int64

In [42]:
df.isnull().sum()

id_produto            0
id_contrato           0
id_cliente            0
data_entrada          0
valor_fin             0
qtde_prest            1
juros_efet            0
data_entrada.1        0
data_final            0
provisao              0
fat                   0
rating_operacao       0
rating_cliente        0
ra                    0
porte                 0
setor                 0
situacao              0
rating_atual          0
linha_fin             0
tipo_a                0
tipo_b                0
tipo_c                0
tipo_d                0
garantia              0
valor_garantia       15
razao_faturamento     0
dtype: int64

In [43]:
import numpy as np
df['fat_log'] = np.log(df['fat'])

In [44]:
df['fat_log']

0        8.920122
1        8.776784
2       13.775082
3       13.821289
4       13.609080
          ...
2547     0.000000
2548     0.000000
2549    20.517598
2550     0.000000
2551    18.249312
Name: fat_log, Length: 2552, dtype: float64

In [65]:
tipos_de_dados = df.dtypes

In [72]:
index = tipos_de_dados.index
values = tipos_de_dados.values

In [70]:
tipos_de_dados.values

array([dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('float64'), dtype('float64'), dtype('O'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('float64'), dtype('float64'),
       dtype('float64')], dtype=object)

In [ ]:
# Automação homework

In [ ]:
for item in index:
    if tipos_de_dados.index == 'int64' or 'float64':
        quantitative_columns.append(tipos_de_dados.index)

In [73]:
df.columns

Index(['id_produto', 'id_contrato', 'id_cliente', 'data_entrada', 'valor_fin',
       'qtde_prest', 'juros_efet', 'data_entrada.1', 'data_final', 'provisao',
       'fat', 'rating_operacao', 'rating_cliente', 'ra', 'porte', 'setor',
       'situacao', 'rating_atual', 'linha_fin', 'tipo_a', 'tipo_b', 'tipo_c',
       'tipo_d', 'garantia', 'valor_garantia', 'razao_faturamento', 'fat_log'],
      dtype='object')

In [ ]:
df_qualitative = df[df[]]

if condição:
    pass
elif condição2:
    pass
else:

In [78]:
values = tipos_de_dados.values
for item in values:
    if item == 'int64' or item =='float64':
        print('quantitativa')
    else:
        print('qualitativa')

quantitativa
quantitativa
quantitativa
quantitativa
quantitativa
quantitativa
qualitativa
quantitativa
quantitativa
quantitativa
quantitativa
qualitativa
qualitativa
qualitativa
qualitativa
qualitativa
qualitativa
qualitativa
qualitativa
qualitativa
qualitativa
qualitativa
qualitativa
qualitativa
quantitativa
quantitativa
quantitativa

d deleta linha
b cria linha abaixo
a cria linha acima
m transforma celula em markdown
r transforma celula em raw text

In [4]:
df_quant = df[['valor_fin', 'qtde_prest', 'juros_efet', 'provisao', 'fat', 'valor_garantia', 'razao_faturamento', 'fat_log']]
df_qual = df[['rating_operacao', 'rating_cliente', 'ra', 'porte', 'setor','situacao', 'rating_atual', 'linha_fin', 'tipo_a', 'tipo_b', 'tipo_c', 'tipo_d', 'garantia']]

KeyError: "['fat_log', 'razao_faturamento'] not in index"

In [ ]:
import seaborn as sns
_=sns.pairplot(df_quant)

In [83]:
df_quant.corr()

                valor_fin  qtde_prest  provisao       fat  valor_garantia
valor_fin        1.000000    0.390673  0.349627  0.320464        0.629334
qtde_prest       0.390673    1.000000  0.098115  0.232737        0.268674
provisao         0.349627    0.098115  1.000000  0.005036        0.073403
fat              0.320464    0.232737  0.005036  1.000000        0.240369
valor_garantia   0.629334    0.268674  0.073403  0.240369        1.000000

In [85]:
_= sns.heatmap(df_quant)

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [89]:
display(df.groupby(['situacao','garantia']).size())

situacao      garantia
ADIMPLENTE    Alien Fiduc - RDME                            63
              Alienação Fiduciaria Veículos                 79
              Alienação Fiduciária - Bens Móveis            96
              Alienação Fiduciária Imóveis - Evolutiva       7
              Alienação Fiduciária Imóvel                  133
              Alienação Fiduciária Imóvel Residencial       71
              CDB - Certificado de Depósito Bancário        11
              Cessão Dir. Credit - Trib e Receitas         214
              Cessão Fiduciária - Direitos creditórios      22
              FAMPE                                         54
              FDA                                          397
              FGI                                         1242
              FGI - Crédito Livre                           21
              FGO                                           15
              Gar Fidejussória Fiança Bancária              20
              Hipoteca - Outros Graus                       10
              Hipoteca 1º Grau                              20
              Hipoteca 1º grau Imov Residencial              7
              Interveniente                                  8
              SUS - Direito de crédito                      24
INADIMPLENTE  Alienação Fiduciaria Veículos                  4
              Alienação Fiduciária - Bens Móveis             4
              Alienação Fiduciária Imóvel                    1
              FAMPE                                          2
              FDA                                            4
              FGI                                           15
              Interveniente                                  7
              SUS - Direito de crédito                       1
dtype: int64

In [ ]:
class EDA:
    def tratar_dados(input_1,input_2):
        pass
        return p

In [91]:
x = 'casa'.isna()

AttributeError: 'str' object has no attribute 'isna'