# Aula 1
---

Nesta aula iremos realizar os seguintes passos do projeto de um EDA.

- Importar a base csv;
- Ver o formato das variáveis (describe);
- Transformações de variáveis (número para categóricas) – tanto como fazer esta transformação, como informar o software para ele entender a variável de determinada forma (as_data, as_srting). 
Por exemplo: Informar que tem variáveis de “data” 
- Criar variáveis novas, calculadas a partir de outras variáveis;
(fat/valor empréstimos);
fazer o cálculo de prazo (utilizando datas);
log(variáveis);
transformar variáveis do tipo categóricas em numérica; 
-  Selecionar variáveis (separar as quantitativas das categóricas) – criar sub-bases;
- Criar dummies; 
- Aprender alguns comandos para análise exploratória dos dados e visualização (hist., box plot, tabela de correlação, tabelas do tipo group by);
- Variáveis categóricas - aprender group by (com base em clientes inadimplentes – qual seria garantia, linha de fin, rating, etc).
- Aprender o If (selecionar variáveis com base numa regra – ex: somente empresas do privado + projetos e investimentos); 
- Usar if + group by; 
- Variáveis quantitativas – medidas centrais, variabilidade, quartis; 
- Testes de correlação (quanti x categórica e categórica x categórica).

In [3]:
# Importando a biblioteca pandas com o Alias pd
import pandas as pd

Como iremos, neste caso utilizar dados no formato CSV (Comma-separated values), devemos tomar alguns cuidados com esta base, pois a ocorrência de simbolos inadequados para este tipo de dados como:

- ** ; ao ínves de , **
- ** , ao contrário de . para casas decimais podem ocasionar erros **

A formatação manual de um arquivo CSV, a partir de um editor de texto, muitas vezes pode ser mais eficiente do que a utilização de um programa muito complexo.

Uma boa referência para este tipo de dados:
https://www.howtogeek.com/348960/what-is-a-csv-file-and-how-do-i-open-it/

Após as modificações realizadas nos dados originais e salvos no arquivo base_estudos.csv podemos iniciar nossas tarefas para a Análise Exploratória de Dados (EDA - Exploratory Data Analysis).

Vamos criar uma matriz, ou DataFrame, nomenclatura utilizada pela bilioteca Pandas - Python

In [4]:
# Read csv files from relative path
df = pd.read_csv('../DATABASE/base_estudos.csv')

Para viasualizarmos se o dataframe está funcionando, ou seja, se os dados foram lidos corretamente usamos a função nativa do Ipython display(). O dataframe pode ser um arquivo muito grande, para evitar períodos muito longos com o load de certos arquivos, utilizamos a função head() do pandas dataframe para imprimir as primeiras hipóteses do banco de dados ou tail() para imprimir as últimas instâncias.

In [6]:
display(df.head(n=5))

,id_produto,id_contrato,id_cliente,data_entrada,valor_fin,qtde_prest,juros_efet,data_entrada.1,data_final,provisao,...,setor,situacao,rating_atual,linha_fin,tipo_a,tipo_b,tipo_c,tipo_d,garantia,valor_garantia
0,10707,30560012,212806,42349,151605.74,63.0,0.246781,42349,44607,0,...,SETOR PRIVADO,ADIMPLENTE,AA,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,245000.0
1,10707,30450012,212849,42367,133864.13,62.0,0.246802,42367,44607,0,...,SETOR PRIVADO,ADIMPLENTE,AA,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,219000.0
2,10707,31260012,212857,42349,156163.26,65.0,0.246774,42349,44669,45392,...,SETOR PRIVADO,ADIMPLENTE,A,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,245000.0
3,10707,31540015,212903,42349,132834.93,67.0,0.246793,42349,44727,397,...,SETOR PRIVADO,ADIMPLENTE,A,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,197000.0
4,10707,30570018,212911,42349,147130.53,63.0,0.246785,42349,44607,41467,...,SETOR PRIVADO,ADIMPLENTE,A,PRO CAMINHONEIRO,ME,RT,PRIV,BNDES,Alienação Fiduciaria Veículos,268000.0

In [7]:
display(df.tail(n=5))

,id_produto,id_contrato,id_cliente,data_entrada,valor_fin,qtde_prest,juros_efet,data_entrada.1,data_final,provisao,...,setor,situacao,rating_atual,linha_fin,tipo_a,tipo_b,tipo_c,tipo_d,garantia,valor_garantia
2547,61000,66300002,1433237,43658,560763.83,120.0,0.478414,43658,47304,565069,...,SETOR PRIVADO,ADIMPLENTE,B,FUNGETUR,PI,RT,PRIV,FUNGETUR,Hipoteca 1º grau Imov Residencial,354000.00
2548,61000,80050000,2487080,43854,53194.04,120.0,1.242.562,43854,47490,159906,...,SETOR PRIVADO,ADIMPLENTE,C,FUNGETUR,PI,RT,PRIV,FUNGETUR,Alienação Fiduciaria Veículos,105292.20
2549,61018,58320008,683159,43312,4793407.28,60.0,0.414216,43312,45145,0,...,SETOR PRIVADO,ADIMPLENTE,AA,FUNGETUR,ME,RT,PRIV,FUNGETUR,Alienação Fiduciária Imóvel,37280000.00
2550,61018,58750002,727970,43515,182281.79,60.0,0.753472,43515,45327,550677,...,SETOR PRIVADO,ADIMPLENTE,C,FUNGETUR,ME,RT,PRIV,FUNGETUR,FDA,191773.14
2551,61018,76760006,2252112,43853,64000.00,60.0,0.585692,43853,45663,64141,...,SETOR PRIVADO,ADIMPLENTE,B,FUNGETUR,ME,RT,PRIV,FUNGETUR,FGI - Crédito Livre,51200.00